ADMIN_PASS=Vortex
CF_TUNNEL_TOKEN=token_kamu

DATA_DIR=/data

PORT=8080
SSH_PORT=22
SSH_SSL_PORT=2443
WS_INTERNAL_PORT=8880

PUBLIC_HOST=ssh-ws.badut.biz.id
SSH_PUBLIC_HOST=ssh-ws.badut.biz.id
SSH_PUBLIC_PATH=/

XRAY_PUBLIC_HOST=vortex.vigilante.biz.id
SNI_PUBLIC_HOST=vorte-x.up.railway.app

SSH_SNI_HOST=nozomi.proxy.rlwy.net
SSH_SNI_PORT=25845